@import "tailwindcss";
@reference "tailwindcss";

body {font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;  
}

/* TODO: FONT ROBOTO */
@font-face {
  font-family: Roboto;
  src: url("/font/roboto/Roboto-Bold.ttf");
  font-weight: 700;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url("/font/roboto/Roboto-ExtraBold.ttf");
  font-weight: 800;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url("/font/roboto/Roboto-Light.ttf");
  font-weight: 300;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url("/font/roboto/Roboto-Medium.ttf");
  font-weight: 500;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url("/font/roboto/Roboto-Regular.ttf");
  font-weight: 400;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url("/font/roboto/Roboto-SemiBold.ttf");
  font-weight: 600;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url("/font/roboto/Roboto-Thin.ttf");
  font-weight: 100;
   font-style: normal;
  font-display: swap;
}

/* TODO: FONT INTER */
@font-face {
  font-family: Inter;
  src: url("/font/inter/Inter_28pt-Bold.ttf");
  font-weight: 700;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("/font/inter/Inter_28pt-ExtraBold.ttf");
  font-weight: 800;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("/font/inter/Inter_28pt-Medium.ttf");
  font-weight: 500;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("/font/inter/Inter_28pt-Regular.ttf");
  font-weight: 400;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("/font/inter/Inter_28pt-SemiBold.ttf");
  font-weight: 600;
   font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("/font/inter/Inter_28pt-Thin.ttf");
  font-weight: 100;
   font-style: normal;
  font-display: swap;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

.gradentText {
    @apply bg-gradient-to-r from-sky-400 to-violet-400 bg-clip-text text-transparent
}

;

.gradentTextv2 {
    @apply bg-gradient-to-r from-blue-400 to-purple-400 bg-clip-text text-transparent
}

.gradentTextv3 {
    @apply bg-gradient-to-r from-sky-400 to-violet-700 text-white
}

.nav-link {
    @apply hover:bg-stone-700 hover:rounded-lg hover:duration-300
}

.nav {
    @apply flex gap-2 p-1 items-center w-full
}

.textT {
  @apply  bg-gradient-to-r from-sky-400 to-violet-400 text-white
}